{% extends "./layout/app.html %}
{% load static %}

{% block content %}

<section class="dashboard section">
    <div class="container">
        <div class="row">
            {% include "./partials/sidebar.html" %}
            <div class="col-9">
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">{{title}}</h3>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Booking&nbsp;ID</th>
                            <th>Booked&nbsp;on</th>
                            <th>Return&nbsp;date</th>
                            <th>Fine</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for record in records %}
                        <tr>
                            <td class="product-thumb">
                                <img width="80px" height="auto" src="{{record.document.img_src}}">
                            </td>
                            <td>
                                {{ record.document.title}}
                            </td>
                            <td>
                                {{ record.id}}
                            </td>
                            <td>
                                {{ record.created_date}}
                            </td>
                            <td>
                                {{ record.get_return_date}}
                            </td>
                            <td>
                                {{ record.get_fine }}
                            </td>
                            <td>
                                {{ record.get_status_display }}
                            </td>
                            <td class="action" data-title="Action">
                                <div class="">
                                    <ul class="list-inline justify-content-center">
                                        {% if record.is_waiting_for_approve %}
                                        waiting for approve
                                        {% else %}
                                        {% if record.status != 'WG' %}
                                        <li class="list-inline-item">
                                            <a class="view" href="{% url 'renew-document' record.id %}">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li class="list-inline-item">
                                            <a class="delete" href="{% url 'return-document' record.id %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
