{% extends "./layout/app.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="form-group col-md-4 offset-md-4">
        <table>
            {{ form.as_table }}
        </table>

    </div>

    <div class="col-md-4 offset-md-4 text-center mb-lg-2">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {% endblock %}