{% extends "./layout/app.html %}
{% load static %}

{% block content %}

<section class="dashboard section">
    <div class="container">
        <div class="row">
            {% include "./partials/sidebar.html" %}
            <div class="col-9">
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header"> History</h3>
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td class="product-thumb">
                                    <img width="80px" height="auto" src="{% static 'images/products/products-1.jpg' %}"
                                         alt="image description">
                                </td>
                                <td class="product-details">
                                    <h3 class="title">{{ record.document.title}}</h3>
                                    <span class="add-id"><strong>Booking ID:</strong> {{ record.id}}</span>
                                    <span><strong>Booked on: </strong> <time>{{ record.created_date}}</time> </span>
                                    <span><strong>Return date: </strong> <time>{{ record.get_return_date}}</time> </span>
                                    <span><strong>Fine: </strong> <time>{{ record.get_fine }}</time> </span>
                                    <span><strong>Status: </strong> <time>{{ record.get_status_display }}</time> </span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
