{% extends "./layout/app.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Row Start -->
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
            <!-- Recently Favorited -->
            <div class="widget dashboard-container my-adslist">
                <h3 class="widget-header">All records</h3>
                <table class="table table-responsive product-dashboard-table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Title</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for record in records %}
                    <tr>
                        <td class="product-thumb">
                            <img width="80px" height="auto" src="{% static 'images/products/products-1.jpg' %}"
                                 alt="image description">
                        </td>
                        <td class="product-details">
                            <h3 class="title">{{ record.document.title}}</h3>
                            <span><strong>User: </strong> {{record.user}}</span>
                            <span class="add-id"><strong>Booking ID:</strong> {{ record.id}}</span>
                            <span><strong>Booked on:   </strong> <time>{{ record.created_date}}</time> </span>
                            <span><strong>Is returned: </strong>{{ record.is_returned}}</span>
                            <span><strong>Is renewed:  </strong> {{ record.is_renewed}}</span>
                        </td>
                        <td class="action" data-title="Action">
                            <div class="">
                                <ul class="list-inline justify-content-center">
                                    <li class="list-inline-item">
                                        <a class="view" href="{% url 'renew-document' record.id %}">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="delete" href="{% url 'return-document' record.id %}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- Row End -->
</div>
<!-- Container End -->
{% endblock %}