{% extends "./layout/base.html %}
{% load static %}
{% block base_content %}

<section class="login-page text-center">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/logo.png' %}">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>

        <div class="form-group">
            <label for="email" class="sr-only">Email address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required=""
                   autofocus="">
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                   required="">
        </div>


        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input name="username" type="text" class="form-control" id="username" aria-describedby="username"
                   placeholder="Enter username">
        </div>

        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input name="password" type="password" class="form-control" id="password"
                   placeholder="Enter password">
        </div>

        <div class="form-group">
            <label for="passwordRepeat" class="sr-only">Repeat password</label>
            <input name="password" type="password" class="form-control" id="passwordRepeat"
                   placeholder="Repeat password">
        </div>

        <button class="btn btn-lg btn-primary btn-block mb-2 mt-2" type="submit">Sign up</button>

        <p class="mt-5 mb-3 text-muted">© 2018</p>
    </form>


</section>

{% endblock %}