{% extends "./layout/base.html %}
{% load static %}
{% block base_content %}

<section class="login-page text-center">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/logo.png' %}">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div class="form-group">

            <label for="username" class="sr-only">Email address</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                   required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block mb-2 mt-2" type="submit">Sign in</button>
        <div class="row">
            <div class="col text-center m-2">
                <a href="{% url 'sign-up' %}" class="small">Sign up</a>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2018</p>
    </form>


</section>

{% endblock %}