{% extends "./layout/app.html %}
{% load static %}

{% block content %}

<section class="section bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="product-details">
                    <h1 class="product-title">{{ document.title }}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-o"></i> By
                                <span class="font-weight-bold"> {{ document.authors.all | join:", " }}</span>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-folder-open-o"></i> Category<span class="font-weight-bold">
                                {{document.get_type_display }}</span>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-align-justify"></i> All copies<span class="font-weight-bold">
                                {{document.copies }}</span>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-align-left"></i> Available copies
                                <span class="font-weight-bold">{{available_copies }}</span>
                            </li>
                        </ul>
                    </div>

                    <div id="carouselExampleIndicators" class="product-slider carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'images/products/products-1.jpg' %}"
                                     alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/products/products-2.jpg' %}"
                                     alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/products/products-3.jpg' %}"
                                     alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="content mt-3">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                   role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                   role="tab" aria-controls="pills-profile" aria-selected="false">Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Book Description</h3>
                                <p>{{ document.description}}</p>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Book Details</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{document.get_type_display}}</td>
                                    </tr>
                                    {% if document.isbn %}
                                    <tr>
                                        <td>ISBN</td>
                                        <td>{{document.isbn}}</td>
                                    </tr>
                                    {% endif %}

                                    {% if document.publisher %}
                                    <tr>
                                        <td>Publisher</td>
                                        <td>{{document.publisher}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td>Published</td>
                                        <td>{{ document.published_date}}</td>
                                    </tr>

                                    <tr>
                                        <td>Added</td>
                                        <td>{{ document.created_date}}</td>
                                    </tr>

                                    <tr>
                                        <td>Copies</td>
                                        <td>{{ document.copies }}</td>
                                    </tr>
                                    <tr>
                                        <td>Is reference</td>
                                        <td>{% if document.is_reference %} Yes {% else %} No {% endif %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% if is_reference %}
                <div class="sidebar">
                    <div class="alert-danger f" style="font-size: 20px"> This is a reference book</div>
                </div>
                {% elif is_requested %}
                <div class="sidebar">
                    <div class="alert-danger f" style="font-size: 20px"> There is an outstanding request on this book
                    </div>
                </div>
                {% else %}
                <div class="sidebar">
                    <a href="{% url 'book-document' document.id %}" class="btn btn-outline-primary">Request</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}