{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-filesscale=1">
    <title>Inno LMS</title>
    <link href="{% static 'dist/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/less-base.min.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
</head>
<body class="body-wrapper">
    {% block base_content %}
    {% endblock %}

    <script src="{% static 'dist/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/site.min.js' %}"></script>
</body>
</html>