<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>

                <div class="row">
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-laptop icon-bg-1"></i>
                                <h4>Electronics</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Laptops <span>93</span></a></li>
                                <li><a href={% url "category" %}>Iphone <span>233</span></a></li>
                                <li><a href={% url "category" %}>Microsoft <span>183</span></a></li>
                                <li><a href={% url "category" %}>Monitors <span>343</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-apple icon-bg-2"></i>
                                <h4>Restaurants</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Cafe <span>393</span></a></li>
                                <li><a href={% url "category" %}>Fast food <span>23</span></a></li>
                                <li><a href={% url "category" %}>Restaurants <span>13</span></a></li>
                                <li><a href={% url "category" %}>Food Track<span>43</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-home icon-bg-3"></i>
                                <h4>Real Estate</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Farms <span>93</span></a></li>
                                <li><a href={% url "category" %}>Gym <span>23</span></a></li>
                                <li><a href={% url "category" %}>Hospitals <span>83</span></a></li>
                                <li><a href={% url "category" %}>Parolurs <span>33</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-shopping-basket icon-bg-4"></i>
                                <h4>Shoppings</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Mens Wears <span>53</span></a></li>
                                <li><a href={% url "category" %}>Accessories <span>212</span></a></li>
                                <li><a href={% url "category" %}>Kids Wears <span>133</span></a></li>
                                <li><a href={% url "category" %}>It & Software <span>143</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-briefcase icon-bg-5"></i>
                                <h4>Jobs</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>It Jobs <span>93</span></a></li>
                                <li><a href={% url "category" %}>Cleaning & Washing <span>233</span></a></li>
                                <li><a href={% url "category" %}>Management <span>183</span></a></li>
                                <li><a href={% url "category" %}>Voluntary Works <span>343</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-car icon-bg-6"></i>
                                <h4>Vehicles</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Bus <span>193</span></a></li>
                                <li><a href={% url "category" %}>Cars <span>23</span></a></li>
                                <li><a href={% url "category" %}>Motobike <span>33</span></a></li>
                                <li><a href={% url "category" %}>Rent a car <span>73</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-paw icon-bg-7"></i>
                                <h4>Pets</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Cats <span>65</span></a></li>
                                <li><a href={% url "category" %}>Dogs <span>23</span></a></li>
                                <li><a href={% url "category" %}>Birds <span>113</span></a></li>
                                <li><a href={% url "category" %}>Others <span>43</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-laptop icon-bg-8"></i>
                                <h4>Services</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href={% url "category" %}>Cleaning <span>93</span></a></li>
                                <li><a href={% url "category" %}>Car Washing <span>233</span></a></li>
                                <li><a href={% url "category" %}>Clothing <span>183</span></a></li>
                                <li><a href={% url "category" %}>Business <span>343</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->


                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
