{% load static %}

<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-6 col-md">
            <small class="d-block mb-3 text-muted">Innopolis University © 2018</small>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <p class="text-secondary">It is an open-source platform for managing library developed by Innopolis University students.</p>
        </div>
    </div>
</footer>