{% load static %}
<section>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a class="ml-3 navbar-brand mr-md-auto" href={% url "index" %}>
            <img src="{% static 'images/logo.png' %}" class="img-responsive" alt="">
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url "index" %}">Home</a>
            <a class="p-2 text-dark" href="{% url "dashboard" %}">Dashboard</a>
            <a class="p-2 text-dark" href="{% url "user-profile" %}">Profile</a>
            <a class="p-2 text-dark" href="{% url "category" %}">Categories</a>
        </nav>
        {% if request.user.pk is None%}
            <a class="btn btn-outline" href="{% url "sign-in" %}">Sign in</a>
            <a class="btn btn-outline-primary" href="{% url "sign-up" %}">Sign up</a>
        {% else %}
            <a class="btn btn-outline" href="{% url "sign-out" %}">Sign out</a>
        {% endif %}
    </div>
</section>
