{% load static %}
<div class="col-sm-12 col-lg-4 col-md-6">
    <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="">
                    <img class="card-img-top img-fluid">
                         src={% block image %} {% endblock %}
                         alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="">    {% block title %} {% endblock %}</a></h4>
                <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-folder-open-o"></i>{% block type %} {% endblock %}</a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-calendar"></i>    {% block date %} {% endblock %}</a>
                    </li>
                </ul>
                <p class="card-text">{% block description %} {% endblock %}</p>
                <div class="product-ratings">
                    <ul class="list-inline">
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

