<form class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <input type="text" id="search-form" class="form-control mb-2 form-control-lg" placeholder="Search...">
        </div>
    </div>

    <div class="row justify-content-md-center mb-3">
        <div class="col-9">
            {% for tag in tags %}
                <a>
                    <span class="badge badge-secondary tags" id="tag-{{tag.id}}">{{ tag.title }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</form>