{% load static %}
<div class="sidebar col-3">
    <div class="widget user-dashboard-profile">
        <div class="profile-thumb mb-2">
            <img src="{% static 'images/user/user-thumb.jpg' %}" alt="" class="rounded-circle img-fluid">
        </div>
        <h5 class="text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
        <p class="text-center">{{ request.user.profile.get_type_display }}</p>
    </div>
    <div class="widget user-dashboard-menu">
        <ul class="list-group">
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action"><i class="fa fa-user"></i> My Books</a>
            <a href="{% url 'history' %}" class="list-group-item list-group-item-action"><i class="fa fa-history"></i> History</a>
            <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-action"><i class="fa fa-bookmark-o"></i> Favourite Books<span>5</span></a>
            <a href="{% url 'sign-out' %}" class="list-group-item list-group-item-action"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
    </div>
</div>