.form-group {
    margin-bottom: 0.5rem;
}

.main-search {
  a:hover {
    text-decoration: none;
  }
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

}

.tags{
  cursor: pointer;
}